---
import Navigation from "../components/Navigation.vue";

export interface Props {
  title: string;
}

const { title } = Astro.props;
const { date } = Astro.props;
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kid's Score - {title}</title>
  </head>
  <body class="bg-gray-100 max-w-4xl mx-auto">
    <header>
      <Navigation client:load />
    </header>
    <main class="px-8 py-12">
      <slot />
    </main>
    <script>
      const button = document.querySelector("#menu-button");
      const menu = document.querySelector("#menu");

      button.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });
    </script>
  </body>
</html>
