---
import { Task, TaskStatus, TaskScore } from "../common/types";

export interface Props {
  data: TaskScore;
}

const { data } = Astro.props;

import PointsButton from "./PointsButton.astro";
---

<!-- <div class="flex h-screen items-center justify-center bg-indigo-50 px-4"> -->
<section
  class="max-w-sm overflow-hidden rounded-xl bg-white shadow-md duration-200 hover:scale-105 hover:shadow-xl"
>
  <h2 class="text-center py-2 text-1xl">{data?.title}</h2>
  <img src={data?.imgUrl} alt="plant" class="h-auto w-full" />
  <div class="relative">
    {
      data?.status !== TaskStatus.Completed ? (
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="mt-8 h-16 w-16 text-red-500 absolute -top-20 right-0"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
            clip-rule="evenodd"
          />
        </svg>
      ) : (
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="mt-8 h-16 w-16 text-green-500 absolute -top-20 right-0"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      )
    }
  </div>

  <div class="p-5">
    <p class="text-medium mb-5 text-gray-700">
      {data?.desc}
    </p>
    <div class="flex place-content-center">
      {data.points == 0 && <PointsButton points="0" />}
      {data.points == 5 && <PointsButton points="5" />}
      {data.points == 10 && <PointsButton points="10" />}
      {data.points == 15 && <PointsButton points="15" />}
    </div>
  </div>
</section>
<!-- </div> -->
